/* OrdersManagement.css */

/* Navbar styles */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Align items to each end */
  align-items: center; /* Vertically center items */
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem; /* Adjust font size */
}

.navbar-buttons {
  display: flex;
}

.nav-link{
  color: white;
  text-decoration: none;
}
.navbar-buttons .btn {
  margin-left: 10px; /* Add space between buttons */
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-buttons .btn.manage-products-btn {
  background-color: #007bff; /* Adjust button colors */
}

.navbar-buttons .btn.manage-orders-btn {
  background-color: #007bff; /* Adjust button colors */
}
/* Main content styles */
.container {
  margin: 20px;
}

h2 {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Button styles */
button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  text-align: center;
  margin-top: none;
}
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  overflow: auto;
  position: relative; /* Ensure relative positioning for absolute child */
  width: 35%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.order-info {
  display: flex;
}

.order-info > div {
  flex: 1;
}

.order-footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
